/Custom_Libs/__pycache__/Lib_QLabelClick_Widget_NoUI.cpython-311.pyc
/Custom_Libs/__pycache__/Lib_DataDirTree.cpython-311.pyc
/Custom_Libs/Lib_DataDirTree.py~
/Custom_Widgets/__pycache__/Lib_ExportTypeDialog.cpython-311.pyc
/Custom_Widgets/__pycache__/Lib_Mainwindow.cpython-311.pyc
/Custom_Widgets/__pycache__/Lib_PlotConfigDialog.cpython-311.pyc
/Custom_Widgets/__pycache__
/Custom_UIs/__pycache__
